<div class="grid-container">
  <header class="header">
    <div class="header__search">
      Can U Hear me? &nbsp;|&nbsp;<strong>Name:&nbsp;{{ name }}</strong>
      &nbsp;|&nbsp;<strong>Room:&nbsp;{{ room }}</strong>
    </div>
    <div class="header__avatar">🦄</div>
  </header>
  <aside class="sidenav">
    <div class="card-container" *ngFor="let m of messages">
      <div class="card card-big" [ngClass]="{ me: m.id === name }">
        <span>{{ m.message }}</span
        ><br />
        <small>{{ m.id }}</small>
      </div>
    </div>
    <div class="input" *ngIf="room !== ''">
      <textarea
        type="text"
        rows="3"
        cols="15"
        [value]="msg"
        (input)="msg = $event.target.value"
      ></textarea>
      <button (click)="sendMessage(msg)">📧</button>
    </div>
  </aside>
  <main class="main">
    <div class="placeholder" *ngIf="room === ''">
      <div class="form__group field" *ngIf="name === ''">
        <input
          type="input"
          class="form__field"
          placeholder="Whats your name?"
          name="name"
          id="name"
          required
          [value]="_name"
          (input)="_name = $event.target.value"
        />
        <label for="name" class="form__label">Whats your name?</label>
        <button (click)="setName(_name)">🐱‍💻</button>
      </div>
      <div class="form__group field" *ngIf="name !== ''">
        <input
          type="input"
          class="form__field"
          placeholder="Whats your name?"
          name="room"
          id="room"
          required
          [value]="_room"
          (input)="_room = $event.target.value"
        />
        <label for="room" class="form__label">Enter Room Name</label>
        <button (click)="setRoom(_room)">👨‍👩‍👧‍👦</button>
      </div>
    </div>

    <div class="video-grid">
      <label
        *ngIf="remoteStreams.length === 0 && room !== ''"
        (click)="startCall()"
      >
        📞
      </label>
      <div class="video-card" *ngIf="localStream">
        <video
          id="me"
          height="190"
          width="257"
          [srcObject]="localStream"
          autoplay
          muted
        ></video>
        <div class="user-name">{{ name }}</div>
      </div>
      <div
        class="video-card"
        *ngFor="let stream of remoteStreams; let i = index"
      >
        <video
          id="me"
          height="190"
          width="257"
          [srcObject]="stream"
          autoplay
          muted
        ></video>
        <div class="user-name">{{ remoteNames[i] }}</div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__copyright">&copy; 2021 webdave_de</div>
    <div class="footer__signature">Made with ❤️ and ☕☕☕</div>
  </footer>
</div>
