<div class="grid-container">
  <header class="header">
    <div class="header__search">
      Can U Hear me? &nbsp;|&nbsp;<strong>Name:&nbsp;{{ name }}</strong>
      &nbsp;|&nbsp;<strong>Room:&nbsp;{{ room }}</strong>
    </div>
    <div class="header__avatar">🦄</div>
  </header>
  <aside class="sidenav">
    <div
      class="card-container"
      *ngFor="let m of messages"
      [ngClass]="{ me: m.id === name }"
    >
      <div class="card card-big">
        <span>{{ m.message }}</span
        ><br />
        <small>{{ m.id }}</small>
      </div>
    </div>
    <div class="input" *ngIf="room !== ''">
      <textarea
        type="text"
        rows="3"
        cols="15"
        [value]="msg"
        (input)="msg = $event.target.value"
      ></textarea>
      <button (click)="sendMessage(msg)">📧</button>
    </div>
  </aside>
  <main class="main">
    <div class="placeholder" *ngIf="room === ''">
      <button [disabled]="name === ''" (click)="joinRoom()">📡</button>
    </div>

    <div class="video-grid">
      <div class="video-card" *ngIf="localStream">
        <video
          id="me"
          height="190"
          width="257"
          [srcObject]="localStream"
          autoplay
          muted
        ></video>
        <div class="user-name">{{ name }}</div>
      </div>
      <div class="video-card" *ngFor="let stream of remoteStreams">
        <video
          id="me"
          height="190"
          width="257"
          [srcObject]="localStream"
          autoplay
          muted
        ></video>
        <div class="user-name">{{ name }}</div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__copyright">&copy; 2021 webdave_de</div>
    <div class="footer__signature">Made with ❤️ and ☕☕☕</div>
  </footer>
</div>
